<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>http://58.214.8.130:8087/sifang.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BD69683731FC1585EF701AFBD14F8FC489C6E5B9</string>
				<key>dateExpires</key>
				<string>2025/2/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BD69683731FC1585EF701AFBD14F8FC489C6E5B9</string>
						<key>dateExpires</key>
						<string>2025/2/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D2238BGC</string>
						<key>name</key>
						<string>Beijing Sifang Automation Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BD69683731FC1585EF701AFBD14F8FC489C6E5B9</string>
						<key>dateExpires</key>
						<string>2025/2/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D2238BGC</string>
						<key>name</key>
						<string>Beijing Sifang Automation Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BD69683731FC1585EF701AFBD14F8FC489C6E5B9</string>
						<key>dateExpires</key>
						<string>2025/2/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_downloader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D2238BGC</string>
						<key>name</key>
						<string>Beijing Sifang Automation Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BD69683731FC1585EF701AFBD14F8FC489C6E5B9</string>
						<key>dateExpires</key>
						<string>2025/2/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D2238BGC</string>
						<key>name</key>
						<string>Beijing Sifang Automation Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BD69683731FC1585EF701AFBD14F8FC489C6E5B9</string>
						<key>dateExpires</key>
						<string>2025/2/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>orientation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D2238BGC</string>
						<key>name</key>
						<string>Beijing Sifang Automation Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BD69683731FC1585EF701AFBD14F8FC489C6E5B9</string>
						<key>dateExpires</key>
						<string>2025/2/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D2238BGC</string>
						<key>name</key>
						<string>Beijing Sifang Automation Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BD69683731FC1585EF701AFBD14F8FC489C6E5B9</string>
						<key>dateExpires</key>
						<string>2025/2/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D2238BGC</string>
						<key>name</key>
						<string>Beijing Sifang Automation Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A9D2238BGC.com.sf-auto.hlapp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>A9D2238BGC</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>A9D2238BGC.com.sf-auto.hlapp</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ea07b0ac-29bc-4040-9754-4e687e644d1a</string>
				<key>dateExpires</key>
				<string>2023/2/21</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.sf-auto.hlapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A9D2238BGC</string>
				<key>name</key>
				<string>Beijing Sifang Automation Co., Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
